body 
    {background-color: rgb(224, 160, 171);}

    a:link
    {
        color: rgb(218, 130, 218);
        background-color: rgb(160, 218, 227);
        text-decoration: none;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 15px;
    }

    a:visited
    {
        color: rgb(69, 72, 72);
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 15px;
    }

    a:hover
    {
        color: grey;
        background-color: rgb(179, 75, 110);
        text-decoration: underline;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 15px;
        
    }

    a:active
    {
        color: black;
        background-color: palevioletred;
        text-decoration: none;
        text-align: center;
        padding: 15px;
    }

    h1
    {
        color: rgb(218, 117, 179);
    }
